name: ocvalidate
on:
  push:
    branches:
      - master
    paths:
      - EFI/**
  pull_request:
    paths:
      - EFI/**
jobs:
  ocvalidate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: brokeyourbike/ocvalidate-action@v0.3
        with:
          opencore-version: '1.0.1'
      - run: ocvalidate EFI/OC/config.plist